{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{super()}}
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">火车票信息定时采集系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://www.ecjtu.net">主页</a></li>
                <li><a href="/">你还在为上课而错过了火车票而烦恼吗</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">登录</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <p class="text-center text-error">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container-fluid">
<div class="row">
{{ wtf.quick_form(form) }}
</div>
</div>
{% endblock %}
