.form-inline input.inputstartdate{
    width:200px;
}
.form-inline input.inputtostation{
    width:150px;
}
.form-inline input.inputfromstation{
    width:150px;
}
.error{
    color:red;
}
.index_form{
    padding-bottom:10px;
}
